<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <title>1e component VUE</title>
</head>
<style>
  body {
    text-align: center;
    padding: 16px;
  }

  button {
    margin: 16px;
  }

  li {
    list-style: none;
  }
</style>

<body>
  <div id="app"></div>

  <template id="ejemplo">
    <div>
      <button @click="toggleMostrar">Mostrar/Ocultar</button>
      <div v-show='mostrar'>
        <b>{{ mensaje }}</b> <br>
        <img :src="imagen" />
        <ul>
          <li v-for='curso in cursos'>
            <a v-bind:href="curso.url" target="_blank" rel="noopener noreferrer">{{ curso.name }}</a>
          </li>
        </ul>
        <button @click="displaynumbers">Click ME</button>
        <input type="number" v-model='num1'>
        <input type="number" v-model='num2'>
        <h2> Add Number {{num1}} + {{num2}} = {{total}}</h2>
      </div>
    </div>
  </template>

  <!--OJO això ha d'estar aquí al final -->
  <script src="js/javascript.js"></script>

</body>

</html>