<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A First App</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
</head>

<body>
  <div id="app">
    <div>
      <label for="goal">Goal</label>
      <input type="text" id="goal" v-model="goalInput" v-on:keypress="enter" />
      <button v-on:click="addGoal">Add Goal</button>
      <button v-on:click="removeGoalAll">RemoveAll Goal</button>
      <label for="find">Buscar</label>
      <input type="text" id="find" v-model='find'>
      <div v-for="goal in filteredGoal">
        <div class='goal'>
          <p @click="setDone" v-bind:data-id="goal.id" class="goal__title">📋 {{ goal.goal }}</p>
          <span @click="removeGolById" v-bind:data-id="goal.id" class='close'>X</span>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>